./dmenu/dmenu-alpha-20230110-5.2.diff
./dmenu/dmenu-border-20230512-0fe460d.diff
./dmenu/dmenu-center-5.2.diff
./dmenu/dmenu-lineheight-5.2.diff
./dwm/dwm-attachbelow-6.2.diff
./dwm/dwm-autostart-20161205-bb3bd6f.diff
./dwm/dwm-fullgaps-6.4.diff
./st/st-alpha-20220206-0.8.5.diff
./st/st-anysize-20220718-baa9357.diff
./st/st-clipboard-20180309-c5ba9c0.diff
./st/st-scrollback-20210507-4536f46.diff
